.card-generator {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}

.title {
  text-align: center;
}

.deck-title {
  text-align: center;
}

.deck-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.search-card {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-card input {
  margin-left: 5px;
}

.card-deck {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-deck img {
  height: 200px;
  width: 230px;
}
